@import "color_variables";


body {
  font-family: 'Poppins', Sans-Serif;
  font-weight: 400;
  color: $dark-liver;
  background-color: $emerald;
  background-image: url("https://i.imgur.com/0Dd46rI.jpeg");
  background-position: top;
  background-repeat: no-repeat;  
  background-size: cover; 
  height: auto;
  background-attachment: fixed;
};

h1, h3, h5 {
  font-family: 'Fanwood Text', Serif;
  font-weight: 400;
};

h2, h4, h6 {
  font-family: 'Shrikhand', Cursive;
  font-weight: 700;
};

p {
  font-family: 'Fanwood Text', Serif;
}

nav.top-bar {
}

.titlelogo {
  text-align: center;
  margin: 50px auto;
}

.callout.large {
  margin: 75px 6rem 0.5rem 6rem;
  text-align: center;
  border-radius: 3rem;
  color: $dark-liver;
  background-color: $peach;
  border: 3px solid $dark-liver;
}

.science {
  margin-top: 50px;
}

.welcome {
  text-align: center;
  border: 3px solid $dark-liver;
  border-radius: 5rem;
  width: fit-content;
  margin: 50px auto;
  padding: 20px;
  background-color: $sand;
  // opacity: 0.6
}

.app-description {
  color: $dark-liver;
  font-weight: 200;
  font-size: 1em;
}

.button.landing {
  margin-right: 8px;
}

// .logo-text{
//   font-family: 'Arima Madurai', cursive;
// }

.card {
  border-radius: .2rem;
}

.button {
  font-family: 'Poppins', Sans-Serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: $peach;
  border-radius: 2em;
}

.button:hover, .button.focus {
  background-color: $orange;
}
.button.hollow.button {
  color: $sand
}